* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
background-color: #00bcd4;
color: #5c34a4;
}

.container {
text-align: center;
margin-top: 250px;
font-family: 'Aboreto', cursive;
font-size: 50px;
}

h1{
animation: 1s;
animation-name: Nome;
}

@keyframes Nome {
    from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}